testresources==2.0.1
astroid==2.11.2
certifi==2021.10.8
chardet==4.0.0
click==8.1.2
colorama==0.4.4
Flask==2.1.1
idna==3.3
isort==5.10.1
itsdangerous==2.1.2
Jinja2==3.1.1
lazy-object-proxy==1.7.1
MarkupSafe==2.1.1
mccabe==0.6.1
pylint==2.13.4
requests==2.27.1
simplejson==3.17.6
six==1.16.0
toml==0.10.2
urllib3==1.26.5
Werkzeug==2.1.1
wrapt==1.14.0
PyJWT==2.3.0
prometheus-flask-exporter==0.19.0
